{% extends 'base.html.twig' %}

{% block title %}Connexion - ça glisse{% endblock %}

{% block body %}
    <style>
        * {margin: 0; padding: 0; box-sizing: border-box;}
        .oswald {
            font-family: "oswald", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        .login-body {
            width: 100%;
            display: flex;
            position: relative;
            background: url("assets/images/login-background-logo.png") no-repeat right;
        }

        .login-r-div {
            width: 50%;
            padding-top: 13vh;
            z-index: 3;
        }
        .login-child-div {
            width: 80%;
            margin: 0 10%;
        }
        .login-title {display: flex; gap: 30px; justify-content: right;}
        .login-h1 {font-size: 48px}
        .login-form {
            padding-right: 50px;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            row-gap: 35px;
            color: #4B5F6D;
        }
        .btn-login {
            background-color: #000000;
            color: #FFFFFF;
            border: none;
            border-radius: 4px;
            padding: 12px 0;
            width: 100%;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
        }
        .btn-login:hover {
            background-color: #0054D2;
        }
        .widget {
            padding: 10px;
            border-radius: 6px;
            border: 1px solid rgba(75, 95, 109, 0.4);
            font-size: 16px;
            font-weight: 300;
            color: #4B5F6D;
        }
        .div-email, .div-pw {display: flex; flex-direction: column;}
        .blue {color: #0054D2; cursor: pointer;}

        .div-logo {
            position: absolute;
            top: -20px;
            width: 100%;
            display: flex;
            justify-content: center;
            z-index: 2;
        }

        .login-l-div {
            width: 50%;
            background: url("assets/images/login-background-img.png") no-repeat center;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;
            height: 100vh;
        }
        .login-l-div div {
            display: flex;
            flex-direction: column;
            gap: 8.7vh;
        }
        .login-l-div span {
            font-size: 55px;
            font-weight: 600;
            color: #FFFFFF;
            line-height: 82px;
            text-align: center;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .login-l-div button {
            font-size: 15px;
            background-color: #DB2828;
            color: #FFFFFF;
            border: none;
            padding: 10px 0;
            width: 80%;
            margin: 0 10%;
            cursor: pointer;
        }

        /* responsive */
        @media screen and (max-width: 1400px) {
            .login-r-div {
                padding-top: 10vh;
            }
            .div-logo img {
                width: 280px;
            }
        }

        /* mobile screen */
        @media screen and (max-width: 767px) {
            .login-body {
                flex-direction: column-reverse;
                gap: 50px;
            }
            .login-r-div, .login-l-div {width: 100%;}
            .login-r-div {
                padding-top: 150px;
            }
            .login-l-div {padding: 40px 0; height: auto;}
            .div-logo {height: auto;}
            .div-logo img {
                width: 250px;
            }
        }
    </style>

    <main class="login-body">
        <div class="login-l-div">
            <div>
                <span class="oswald">Vers l'infini...<br> et la montagne</span>
                <a href="{{ path('app_register') }}"><button class="oswald">Pas de compte ? Inscris-toi</button></a>
            </div>
        </div>

        <div class="div-logo"><img src="assets/images/logo.png" alt="logo ça glisse" class="logo"></div>

        <div class="login-r-div oswald">
            <div class="login-child-div">
                <div class="login-title">
                    <h1 class="oswald login-h1">Connexion</h1>
                    <img src="assets/images/chevron-droite.svg" alt="chevron droite">
                </div>
                <form method="post" class="login-form">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <div class="div-email">
                        <label for="inputEmail">Email</label>
                        <input class="form-control widget email" type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email" autocomplete="email" required autofocus>
                    </div>
                    <div class="div-pw">
                        <label for="inputPassword">Mot de passe</label>
                        <input class="form-control widget pw" type="password" name="password" id="inputPassword" placeholder="Mot de passe" autocomplete="current-password" required>
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}">

                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    #}

                    <div>
                        <button class="btn btn-login oswald" type="submit">Connexion</button><br>
                        <span class="blue">Mot de passe oublié ?</span>
                    </div>
                </form>
            </div>
        </div>
    </main>

{% endblock %}
