{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block style %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }



    body {
        background-color: #FAFAFA;
        overflow-x: hidden;
    }

    .background {
        position: absolute;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100vh;
    }

    .background img {
        object-fit: cover;
        position: absolute;
        z-index: 0;
        top: 0;
        width: 100%;
        height: 100vh;
    }

    main {
        position: relative;
        z-index: 1;
    }

    .section-CTA {
        width: 100%;
        height: 85vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .section-CTA h1 {
        padding-bottom: 20px;
        font-size: 75px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    }

    .section-CTA button {
        font-size: 16px;
        padding: 0.5em 1em;
        background-color: #DB2828;
        border: none;
        color: white;
    }

    .hero_station {
        padding-top: 50px;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .hero_station h2 {
        height: 20%;
        font-weight: 500;
        font-size: 70px;
    }

    .hero_station .section_station {
        position: relative;
        height: 75%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 80%;
    }

    .hero_station .section_station .img-station {
        position: absolute;
        z-index: 1;
        width: 50%;
        height: 100%;
    }

    .hero_station .section_station .img-station img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .hero_station .section_station .card-station {
        position: absolute;
        z-index: 2;
        left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px;
        width: 60%;
        height: 80%;
        background: #FFFFFF;
        box-shadow: -20px 20px 40px rgba(0, 0, 0, 0.25);
    }

    .hero_station .section_station .card-station h3 {
        font-weight: 600;
        font-size: 3em;

    }

    .hero_station .section_station .card-station p {
        text-align: justify;
        font-weight: 400;
        font-size: 1em;
        color: #4B5F6D;
    }

    .hero_station .section_station .card-station span {
        color: #0054D2;
        font-weight: bold;
    }

    .hero_station .section_station .card-station .plus {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .hero_station .section_station .card-station .plus p {
        color: #DB2828;
        font-size: 0.9em;
    }

    .hero_station .section_station .card-station .plus a {
        text-decoration: none;
        color:
            #0054D2;
        font-size: 0.8em;
    }

    .hero_activite {
        padding-top: 100px;
        position: relative;
        width: 100%;
        height: 120vh;
    }


    .hero_activite #background {
        position: absolute;
        z-index: 1;
        width: 50%;
        height: 80%;
        left: -100.08px;
        filter: blur(10px);
        transform: rotate(5.6deg);
    }

    .hero_activite .activite {
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: repeat(14, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .hero_activite .activite h3 {
        font-weight: 600;
        font-size: 2.5em;

        grid-column: 8 / 15;
        grid-row: 1 / 2;
    }

    .hero_activite .activite span {
        color: #0054D2;
    }

    .hero_activite .activite img {
        z-index: 2;
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .ski-alphin {
        grid-column: 4 / 8;
        grid-row: 1 / 7;
        z-index: 2;
        position: relative;
    }

    .hero_activite h4 {
        z-index: 3;
        position: absolute;
        width: 100%;
        height: 50%;
        font-size: 2em;
        line-height: 59px;

        color: #FFFFFF;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 20px;
    }

    .Snowboard {
        grid-column: 8 / 14;
        grid-row: 2 / 8;
        z-index: 2;
        position: relative;
    }

    .Randonnée {
        grid-column: 2 / 8;
        grid-row: 7 / 13;
        z-index: 2;
        position: relative;
    }

    .Ski-fond {
        grid-column: 8 / 12;
        grid-row: 8 / 15;
        z-index: 2;
        position: relative;
    }

    .avis {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .avis h2 {
        font-family: "roboto";
        font-weight: lighter;
        font-size: 85px;
        color: white;
    }

    .avis h2 span {
        color: #9FFF7B;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-1750px);
        }
    }

    .avis .slider {
        width: 100%;
        margin: 40px;
        overflow: hidden;
        position: relative;
    }


    .avis .slider::before,
    .avis .slider::after {
        background: linear-gradient(to right, rgba(255, 255, 255, 0.122) 0%, rgba(255, 255, 255, 0) 100%);
        content: "";
        height: 350px;
        position: absolute;
        width: 200px;
        z-index: 2;
    }

    .avis .slider::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    .avis .slider::before {
        left: 0;
        top: 0;
    }

    .avis .slider .slide-track {
        animation: scroll 40s linear infinite;
        display: flex;
        width: 1400%;
    }

    .avis .slider .slide-track_2 {
        animation: scroll 40s linear reverse infinite;
        display: flex;
        width: 1400%;
    }

    .avis .slider .slide {
        font-family: "Roboto";

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 250px;
        width: 450px;
        padding: 10px 10px;
    }

    .avis .slider .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .reveal-loaded .reveal [class*=reveal-] {
        opacity: 0;
        transform: translateY(30px);
    }

    .reveal-loaded [class*=reveal] {
        transition: 1s cubic-bezier(0.5, 0, 0, 1);
    }

    /* On ajoute du délai */
    .reveal-loaded .reveal-2 {
        transition-delay: 0.1s;
    }

    .reveal-loaded .reveal-3 {
        transition-delay: 0.2s;
    }

    .reveal-loaded .reveal-4 {
        transition-delay: 0.3s;
    }

    .reveal-loaded .reveal [class*=reveal-] {
        opacity: 0 !important;
        animation: none !important;
        transition: 0s !important;
    }

    .reveal-loaded [class*=reveal-] {
        animation: revealAnimation 1s cubic-bezier(0.5, 0, 0, 1) both;
    }

    .reveal-loaded .reveal-2 {
        animation-delay: 0.1s;
    }

    .reveal-loaded .reveal-3 {
        animation-delay: 0.2s;
    }

    .reveal-loaded .reveal-4 {
        animation-delay: 0.3s;
    }

    @media (prefers-reduced-motion: reduce) {
        .reveal-loaded [class*=reveal-] {
            animation: none !important;
        }
    }

    @keyframes revealAnimation {
        0% {
            opacity: 0;
            transform: translateY(30px);
        }

        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    .instagram {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        left: 30%;
        top: 30%;
        padding: 40px 40px;
        width: 40%;
        background-color: rgba(255, 255, 255, 0.415);
        font-size: 20px;
        font-weight: 500;
        display: flex;
        align-items: center;
        text-align: center;

        color: #000000;

    }

    .instagram img {
        width: 70%;
    }

    /* responsive ordi portable */
    @media (max-width: 1024px) {
        .background img {
            object-fit: cover;
        }

        .hero_station h2 {
            height: 10%;
            font-size: 3.5em;
        }

        .hero_station .section_station {
            position: relative;
            height: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 60%;
            background: #FFFFFF;
            box-shadow: -20px 20px 40px rgba(0, 0, 0, 0.25);
        }

        .hero_station .section_station .img-station {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 50%;
        }

        .hero_station .section_station .img-station img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .hero_station .section_station .card-station {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            left: 0;
            top: 50%;
            z-index: 1;
            width: 100%;
            height: 50%;
            padding: 20px;
            background: none;
            box-shadow: none;
        }

        .hero_station .section_station .card-station h3 {
            font-size: 2.8em;
        }

        .hero_station .section_station .card-station p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            /* nombre maximum de lignes */
            line-clamp: 3;
            font-size: 1em;
        }

        .hero_station .section_station .card-station .plus p {
            color: #DB2828;
            font-size: 0.8em;
        }

        .hero_station .section_station .card-station .plus a {
            text-decoration: none;
            color:
                #0054D2;
            font-size: 0.9em;
        }

        .hero_activite .activite h3 {
            font-size: 2em;
            grid-column: 8 / 15;
        }

        .instagram {
            top: 35%;
        }

        .instagram h3 {
            font-size: 0.8em;
        }

    }

    @media screen and (max-width: 768px) {
        .section-CTA h1 {
            font-size: 3em;
        }

        .hero_station {
            justify-self: center;
            height: 80vh;
        }

        .hero_station h2 {
            width: 90%;
            text-align: left;
            height: 8%;
            font-size: 2.5em;
        }

        .hero_station .section_station {
            position: relative;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 88%;
            background: #FFFFFF;
            box-shadow: -20px 20px 40px rgba(0, 0, 0, 0.25);
        }

        .hero_station .section_station .img-station {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 50%;
        }

        .hero_station .section_station .img-station img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .hero_station .section_station .card-station {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            left: 0;
            top: 50%;
            z-index: 1;
            width: 100%;
            height: 50%;
            padding: 20px;
            background: none;
            box-shadow: none;
        }

        .hero_station .section_station .card-station h3 {
            font-size: 2em;
        }

        .hero_station .section_station .card-station p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            /* nombre maximum de lignes */
            line-clamp: 3;
            font-size: 1em;
        }

        .hero_station .section_station .card-station .plus p {
            display: none;
        }

        .hero_station .section_station .card-station .plus a {
            width: 100%;
            text-align: right;
            font-size: 0.8em;
        }

        .hero_activite .activite h3 {
            font-size: 2.5em;
            grid-column: 2 / 15;
        }

        .hero_activite .activite h4 {
            font-size: 1.5em;
            grid-column: 8 / 15;
        }

        .Snowboard {
            background-color: wheat;
            grid-column: 2 / 14;
            grid-row: 5 / 8;
            z-index: 2;
            position: relative;
        }

        .Randonnée {
            background-color: black;
            grid-column: 2 / 14;
            grid-row: 11 /14;
            z-index: 2;
            position: relative;
        }

        .Ski-fond {
            background-color: #0054D2;
            grid-column: 2 / 14;
            grid-row: 8 /11;
            z-index: 2;
            position: relative;
        }

        .ski-alphin {
            background-color: #9FFF7B;
            grid-column: 2 / 14;
            grid-row: 2 / 5;
            z-index: 2;
            position: relative;
        }

        .instagram {
            top: 35%;
        }

        .instagram h3 {
            font-size: 0.8em;
        }

    }
</style>
{% endblock %}
{% block body %}

<div class="background">
    <img src="{{ asset('assets/img/Index_background.jpg')}}" alt="">
</div>
<main>
    <div class="section-CTA">
        <h1>Ici ça glisse</h1>
        <button>Guide des stations</button>
    </div>
    <div class="hero_station">
        <h2>Stations de la semaine !</h2>
        <div class="section_station">
            <div class="img-station">
                <img src="{{ asset('assets/img/station/val-isere.jpg')}}" alt="">
            </div>
            <div class="card-station">
                <h3>Val d'Isère</h3>
                <p>La station de ski <span>Val d'Isère</span> est située dans les Alpes françaises, près de la frontière
                    italienne.
                    Elle est connue pour être l'une des stations de ski les plus prestigieuses au monde, offrant des
                    pistes de ski de renommée mondiale et des installations modernes.
                    <br>
                    Val d'Isère est reliée à la station de Tignes pour former l'un des plus grands domaines skiables
                    d'Europe, l'Espace Killy, qui compte plus de 300 km de pistes. La station est particulièrement
                    appréciée des skieurs experts en raison de son terrain technique et de ses hors-pistes variés.
                    <br>
                    En plus du ski, Val d'Isère offre une variété d'activités hivernales, notamment des promenades en
                    raquettes, du patinage sur glace, de la luge et du ski de fond. La station est également connue pour
                    son ambiance animée, avec une grande sélection de restaurants, de bars et de discothèques pour les
                    visiteurs.
                </p>
                <div class="plus">
                    <p>Actuellement meilleur station de France avec 4,8/5 ( Google )</p>
                    <a href="">En savoir plus -></a>
                </div>
            </div>
        </div>
    </div>
    <div class="hero_activite">
        <img id="background" src="{{ asset('assets/img/decor_CaGlisse.jpg')}}" alt="">
        <div class="activite">
            <h3>Les 4 activités <br>
                incontournables de <span> l'hiver </span>!</h3>
            <div class="ski-alphin">
                <img src="{{ asset('assets/img/activitée/ski_alpin.jpg')}}" alt="">
                <h4>Ski alpin</h4>
            </div>
            <div class="Snowboard">
                <img src="{{ asset('assets/img/station/val-isere.jpg')}}" alt="">
                <h4>Snowboard</h4>
            </div>
            <div class="Randonnée">
                <img src="{{ asset('assets/img/activitée/randonée.jpg')}}" alt="">
                <h4>Randonnée à ski</h4>
            </div>
            <div class="Ski-fond">
                <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                <h4>Ski de fond</h4>
            </div>
        </div>
    </div>
    <div id="avis" class="avis">
        <div class="avisUser">
            <div class="slider">
                <div class="slide-track">
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                </div>
            </div>
            <div class="slider">
                <div class="slide-track_2">
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                    <div class="slide">
                        <img src="{{ asset('assets/img/activitée/ski-de-fond.jpg')}}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="instagram">
            <img src="{{ asset('assets/img/instagram.png')}}" alt="">
            <h3>Vos meilleurs photos de vacances <br>
                sont sur le #çaglisse</h3>
        </div>
    </div>
</main>
<script>

    const burger = document.querySelector(".burger");
    const navLinks = document.querySelector(".nav-links");
    const navLinksLi = document.querySelectorAll(".nav-links li");

    burger.addEventListener("click", () => {
        // Toggle nav
        navLinks.classList.toggle("nav-active");

        // Animate nav links
        navLinksLi.forEach((link, index) => {
            if (link.style.animation) {
                link.style.animation = "";
            } else {
                link.style.animation = `fade-in 0.5s ease forwards ${index / 7 + 0.5
                    }s`;
            }
        });

        // Burger animation
        burger.classList.toggle("toggle");
        // Disable scroll
        document.body.classList.toggle("nav-active");
    });

    // Close nav when clicking a link
    navLinksLi.forEach((link) => {
        link.addEventListener("click", () => {
            navLinks.classList.remove("nav-active");
            navLinksLi.forEach((link) => {
                link.style.animation = "";
            });
            burger.classList.remove("toggle");


        });
    });



</script>
{% endblock %}