{% extends 'base.html.twig' %}

{% block title %}Problem{% endblock %}

{% block body %}
    <h1>Problem</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ problem.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ problem.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ problem.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ problem.date ? problem.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_problem_index') }}">back to list</a>

    <a href="{{ path('app_problem_edit', {'id': problem.id}) }}">edit</a>

    {{ include('problem/_delete_form.html.twig') }}
{% endblock %}
