{% extends 'base.html.twig' %}

{% block title %}Slope index{% endblock %}

{% block body %}
    <h1>Slope index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Difficulty</th>
                <th>First_hour</th>
                <th>Last_hour</th>
                <th>Exception</th>
                <th>Exception_message</th>
                <th>Peak_Hour</th>
                <th>Snow_quality</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for slope in slopes %}
            <tr>
                <td>{{ slope.id }}</td>
                <td>{{ slope.name }}</td>
                <td>{{ slope.difficulty }}</td>
                <td>{{ slope.firstHour ? slope.firstHour|date('H:i:s') : '' }}</td>
                <td>{{ slope.lastHour ? slope.lastHour|date('H:i:s') : '' }}</td>
                <td>{{ slope.exception ? 'Yes' : 'No' }}</td>
                <td>{{ slope.exceptionMessage }}</td>
                <td>{{ slope.PeakHour ? slope.PeakHour|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ slope.snowQuality }}</td>
                <td>
                    <a href="{{ path('app_slope_show', {'id': slope.id}) }}">show</a>
                    <a href="{{ path('app_slope_edit', {'id': slope.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_slope_new') }}">Create new</a>
{% endblock %}
