{% extends 'base.html.twig' %}

{% block title %}Hello CreateTrailController!{% endblock %}

{% block body %}
<style>
    .tableAndForm {
        display: flex;
        flex-direction: column;
    }
    .allData {
        display: flex;
        justify-content: space-around;
    }
</style>

<section>
    <h1>Créer un parcours</h1>
    <form>
        <label for="stationChoice">Changer de station</label>
        <select>
            <option value="1">Station 1</option>
            <option value="2">Station 2</option>
            <option value="3">Station 3</option>
            <option value="4">Station 4</option>
            <option value="5">Station 5</option>
        </select>
    </form>
    <div class="allData">
        <div class="tableAndForm">
            <table class="allLift">
                <thead>
                    <tr>
                        <th colspan="2">Toutes les remontés</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lift in lifts %}
                        <tr>
                            <td>{{ lift.name }}</td>
                            <td>4'30</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                {{ form_start(formLift) }}
                    {{ form_row(formLift.addLift, {
                        label: 'Ajouter une remonté :'
                    }) }}
                    <button type="submit" class="btn">Ajouter</button>
                {{ form_end(formLift) }}
            </div>
        </div>
        <div class="tableAndForm">
            <table class="allSlope">
                <thead>
                    <tr>
                        <th colspan="2">Toutes les pistes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for slope in slopes %}
                        <tr>
                            <td>{{ slope.name }}</td>
                            {# <td>{{ slope.time }}</td> #}
                            <td>4'30</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                {{ form_start(formSlope) }}
                    {{ form_row(formSlope.addSlope, {
                        label: 'Ajouter une piste :'
                    }) }}
                    <button type="submit" class="btn">Ajouter</button>
                {{ form_end(formSlope) }}
            </div>
        </div>
        <div class="tableAndForm">
            <table class="myTrail">
                <thead>
                    <tr>
                        <th colspan="2">Mon parcours</th>
                    </tr>
                </thead>
                <tbody>
                    {% for trail in trails %}
                        <tr>
                            {% if trail.lift_id == null %}
                                <td>{{ trail.slope.name }}</td>
                                <td>4'30</td>
                            {% else %}
                                <td>{{ trail.lift.name }}</td>
                                <td>4'30</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
