{% extends 'base.html.twig' %}

{% block title %}Hello CreateTrailController!{% endblock %}

{% block body %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color : white;
    }

    h1{
        text-align: center;
        font-size: 42px;
        margin: 10px;
    }

    body {
        background-image: url("../backgroundTrail.jpg");
        background-size: cover;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .tableAndForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 25%;
    }

    .tableAndForm div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .allData {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    select, input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        color: black;
    }

    option{
        color: black;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }

    button{
        background-color: #DB2828;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 8px 2px;
        cursor: pointer;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin: 10px;
    }

    th, td {
        text-align: center;
        padding: 2px;
    }

    label{
        margin: 10px;
        font-weight: bold;
    }
</style>

<section>
    <h1>Créer un parcours</h1>
    {# <form>
        <label for="stationChoice">Changer de station</label>
        <select>
            <option value="1">Station 1</option>
            <option value="2">Station 2</option>
            <option value="3">Station 3</option>
            <option value="4">Station 4</option>
            <option value="5">Station 5</option>
        </select>
    </form> #}
    <div class="allData">
        <div class="tableAndForm">
            <table class="allLift">
                <thead>
                    <tr>
                        <th colspan="2">Toutes les remontées</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lift in lifts %}
                        <tr>
                            <td>{{ lift.name }}</td>
                            <td>{{lift.duration|date("i:s")}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                {{ form_start(formLift) }}
                    {{ form_row(formLift.addLift, {
                        label: 'Ajouter une remontée :'
                    }) }}
                    <button type="submit" class="btn">Ajouter</button>
                {{ form_end(formLift) }}
            </div>
        </div>
        <div class="tableAndForm">
            <table class="allSlope">
                <thead>
                    <tr>
                        <th colspan="2">Toutes les pistes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for slope in slopes %}
                        <tr>
                            <td>{{ slope.name }}</td>
                            <td>{{ slope.duration|date("i:s")  }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                {{ form_start(formSlope) }}
                    {{ form_row(formSlope.addSlope, {
                        label: 'Ajouter une piste :'
                    }) }}
                    <button type="submit" class="btn">Ajouter</button>
                {{ form_end(formSlope) }}
            </div>
        </div>
        <div class="tableAndForm">
            <table class="myTrail">
                <thead>
                    <tr>
                        <th colspan="2">Mon parcours</th>
                    </tr>
                </thead>
                <tbody>
                    {% for trail in trails %}
                        <tr>
                            {% if trail.liftid == null %}
                                <td>{{ trail.slopeid.name }}</td>
                                <td>{{ trail.slopeid.duration|date("i:s") }}</td>
                            {% else %}
                                <td>{{ trail.liftid.name }}</td>
                                <td>{{ trail.liftid.duration|date("i:s") }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <h2>Temps total : {{totalDuration|date("i:s") }}</h2>
                {{ form_start(formTrail) }}
                    {{ form_row(formTrail.TrailName, {
                        label: 'Donner un nom à votre trajet :'
                    }) }}
                    <button type="submit" class="btn">Ajouter</button>
                {{ form_end(formTrail) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
